[[source]]

name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true


[requires]

python_version = "3.5"


[packages]

lasagne = "==0.1"
numexpr = "==2.6.4"
numpy = "==1.14.0"
scikit-learn = "==0.19.1"
scipy = "==1.0.0"
sklearn = "==0.0"
tables = "==3.4.2"
theano = "==1.0.1"
cachetools = "==2.0.1"


[dev-packages]

